<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%=@admin.first_name %> <%=@admin.last_name %>, un nouveau participant s'est inscrit à ton évènement !</h1>
    <p>
    <%= @participants.first_name %> <%= @participants.last_name %> (<%= @participants.email %>) s'est inscrit sur ton évènement.
    </p>
  </body>
</html>